@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #eeeef5;
}
header{
    position: sticky;
    top: 0;
    background: white;
    height: 66px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
/*adding shadow to the top navigation bar*/}
.rightbox{
    display: flex;
    margin: 5px;
}


.left img{
   
    width: 35px;
  height: 30px;
}  /* image on upper left (logo) */


.container{
    padding: 0 10vw;
}
.containerHeader{ 
    padding: 0 10vw; 

  }
nav{
    font-size: 12px;
    padding-top: 14px;
}

nav ul li{
    list-style: none;
    /* to remove the dots of list */
padding: 0 12px;}
.section1{
    background:#eeeef5;
    height: auto;
}
.section2{
  margin-top: 28px;
    background:#eeeef5;
    height: auto;
  
}
.section3{
  margin-top: 28px;
    background: #eeeef5;
    height:100vh;
   
}

.search{
    margin: 16px;
    width: 25vw;
    padding: 7px 17px;
    border:0.5px solid grey;
    background: #f7f8fd;
    border-radius: 5px;
}
.homeImg{
    width: 80vw;
 
   margin-top: 10px;
}
.itemImg{
    width: 10vw;
    height: 30vh;
    margin: 6px 12px 0 5px;
  }
.newImg{
    
    width: 14vw;
    height: 40vh;
    margin: 4px 7px 0 14px;
}


footer{
    padding: 23px;
    text-align: center;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  }
  
  .tall{
    min-height: 40vh;
  }
  
  @media (max-width: 450px) { 
  .search {
      width: 72vw; 
  }
  }
  
  @media (max-width: 1350px) { 
  
    nav ul li {
      list-style: none;
      padding: 0 4px;
      font-size: 10px;
  }
    
  
    .containerHeader {
      padding: 0 2vw;
  }
    
  header{ 
    height:122px;
  }  
  
    nav{
      flex-direction: column;
      align-items: center;
    }
  
    .right{ 
      flex-direction: column;
    }
  
    .rightBox{
      display: flex;
      margin: 12px;
    }
  }










  